.grid-slot{
    border: 1px solid black;
    box-sizing: border-box;
    aspect-ratio: 1;
}

.grid-container{
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    /* max-width: 200px; */
    /* height: 1000; */
}

.colored-slot{
    background-color: black;
}